<div class="container">
   <center> <h1><a href = "/page/<%= @user.name %>">Welcome <%= @user.name %></a></h1>
   <h2>List of Albums</h2>
</center>


<table>
      <% @album.each do |x|%>
  <tr>
      <td><b><a href="/album/<%= x.id %>"><%=x.title%></a></b></td>

    <%end%>

</table>

<h2>Create New Albums</h2>

 <form action="/album/new" method="post" placeholder="Title">
     <input type="text" name="title">
     <input type="submit" value="Add New Album">

<p><a href="/logout"> Log Out</a></p>


</div>