<div class="container">
  <h1>Welcome to Hacker News!</h1>

  <form action="/login/user" method="post">
    <label>E-Mail</label>
    <input type="text" name="post[email]">
    <label>Password</label>
    <input type="password" name="post[password]">
    <input type="submit" value="Log In">
</form>

</div>