<div class="container">
  <h1>Welcome to Hacker News!</h1>

  <form action="/signup/user" method="post">
    <input type="text" name="post[name]" placeholder="Name"><br><br>
    <input type="text" name="post[email]"  placeholder="E-Mail"><br><br>
    <input type="password" name="post[password]" placeholder="Password"><br><br>
    <input type="submit" value="Sign Up">
</form>

</div>